.drawer-header {
  color: grey !important;
  font-family: 'Orbitron', sans-serif !important;
}

.drawer-header-expanded {
  color: red;
  font-family: 'Orbitron', sans-serif;
}

.drawer-icon {
  padding-right: 0;
}

.drawer-header-text {
  padding-left: 0;
  margin-left: 5px;
}

.drawer-accordion-details {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin-left: 5px !important;
}

.drawer-expanded-list {
  padding: 0 !important;
}

.drawer-expanded-list-item {
  padding-top: 0 !important;
  border-radius: 5px !important;
  width: 100vh !important;
}

.drawer-expanded-list-item-text {
  margin-top: 0;
  margin-bottom: 0;
}

.newDM-search-row {
  display: flex;
  align-items: center;
  flex-wrap: true;
  margin-bottom: 10px;
}

.search-results {
  overflow: auto;
  flex: 1;
}

.search-result {
  display: flex;
  align-items: center;
  margin-top: 0;
}

.search-result-avatar {
  margin-right: 10px;
}

/*** DM ***/
.dm-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px;
}

.dm-header-left-group {
  display: flex;
  align-items: center;
}
