/*** Chat Room Window ***/
.main-window {
  background-color: rgb(245, 212, 212);
  flex: 1;
  overflow: auto;
}

.intro-window {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chat-input {
  padding: 0 0 10px 10px;
  display: flex;
  flex-direction: column;
  background-color: rgb(245, 212, 212);
}

.chat-message {
  display: flex;
  align-items: center;
  padding: 20px;
  color: white;
}

.chat-message:hover {
  background-color: pink;
}

.chat-message-details {
  margin-left: 20px;
}

.chat-message-timestamp {
  color: grey;
  margin-left: 20px;
  font-size: x-small;
}

.search-section {
  display: flex;
  align-items: center;
  margin: 10px 0 20px 20px;
}

.search-results {
  overflow: auto;
  flex: 1;
  margin-top: 0;
  margin-bottom: 0;
}

/*** Mobile Chat Header/Sidebar ****/
.chat-mobile-sidebar-header {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  background-color: grey;
  justify-content: space-between;
  padding: 10px 0 10px 0;
}

.chat-mobile-sidebar {
  flex: 1;
  display: flex;
  justify-content: space-around;
}

.chat-mobile-sidebar-link {
  font-family: 'Orbitron', sans-serif;
  color: white;
  text-decoration: none;
}

.chat-mobile-sidebar-link:hover {
  color: orange;
}

.chat-mobile-sidebar-link-selected {
  font-family: 'Orbitron', sans-serif;
  color: orange;
  text-decoration: none;
}

/*** Regular Chat Header/Sidebar ****/
.chat-sidebar {
  display: flex;
  flex-direction: column;
  background-color: rgb(199, 0, 57);
  height: 93vh;
  box-shadow: 0px 0px 5px black;
}

.chat-sidebar-header {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid darkgrey;
  line-height: 0.1em;
  margin: 20px 0 20px;
}

.chat-sidebar-header > span {
  padding: 0 10px;
  background: rgb(199, 0, 57);
  color: white;
  font-family: 'Orbitron', sans-serif;
}

/*** DM ***/
.dm-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 10px 5px 0;
}

.dm-header-left-group {
  display: flex;
  align-items: center;
}

.active-dms-header {
  color: grey;
  margin-left: 10px;
}

.active-dms-section {
  margin-left: 10px;
  border-top: solid 1px lightgrey;
  border-bottom: solid 1px lightgrey;
  overflow-x: auto;
  overflow-y: auto;
}

/*** Common ***/
.main-view {
  display: flex;
  flex-direction: column;
  height: 93vh;
}
