@use '../../styles/common/themes.scss';

$drawer_color: darkcyan;

.drawer-header {
  color: $drawer_color !important;
  font-family: themes.$font_family;

  &-expanded {
    @extend .drawer-header;
    color: red !important;
  }

  &-text {
    font-family: themes.$font_family;
    padding-left: 0;
    margin-left: 5px;  
  }
}

.drawer-icon {
  padding-right: 0;
}

.drawer-accordion-details {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin-left: 5px !important;

  .drawer-expanded-list {
    padding: 0 !important;

    &-item {
      padding-top: 0 !important;
      border-radius: 5px !important;
      width: 100vh !important;

      &-text {
        margin-top: 0;
        margin-bottom: 0;    
      }
    }
  }
}

.newDM-search-row {
  display: flex;
  align-items: center;
  flex-wrap: true;
  margin-bottom: 10px;
}

.search-results {
  overflow: auto;
  flex: 1;
}

.search-result {
  display: flex;
  align-items: center;
  margin-top: 0;
}

.search-result-avatar {
  margin-right: 10px;
}

/*** DM ***/
.dm-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px;
}

.dm-header-left-group {
  display: flex;
  align-items: center;
}
